:root {
  color-scheme: light dark;
  font-family: system-ui, sans-serif;
}

main {
  max-width: 60rem;
  margin: 0 auto;
  padding-inline: 1rem;
}

dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.25rem 1rem;
}

dd {
  margin: 0;
}
